body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1508444845599-5c89863b1c44?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZHJvbmV8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
  background-size: cover;
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-weight: bold;
}

.navbar{
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.navbar li a{
  background-color: antiquewhite;
  border-radius: 1rem;
  padding: 1rem 2rem ;
  cursor: pointer;
}
.navbar li a:hover{
  background-color: rgb(207, 204, 201);
  text-decoration: none;
}

.box{
  box-shadow: 1px 1px rgba(0,0,0,0.3);
  border-radius: 0.4rem;
  text-align: center;
  width: 200px;
  padding: 2rem;
  background-color: rgb(114, 105, 155, 0.5);
  margin-right: 1rem;
}

h2{
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  color:#100533
}