<h2>Create a new drone</h2>


<form action="/drones/create" method="post" class="form">

    <input type="text" class="form-control" name="name">
    <input type="number" name="propellers" class="form-control">
    <input type="number"  name="maxSpeed" class="form-control">
       <button class="btn btn-primary" type="submit">CREATE</button>

</form>